.projects {
  padding-bottom: 2rem; 

  &__bio-image {
      height: 30vh;
      width: 100%;

      background:
          // L'immagine è troppo bianca, si potrebbe risolvere il problema in vari modi
          // scegliamo di definire un gradiente lineare
          // Il gradiente andrà verso destra; 
          // Il colore di partenza il colore primario, con opacità 0.9 
          // Il colore di destinazione è ancora il colore primario: potremmo mantenere opacità 0.9,
          // tuttavia variamo l'opacità per portarla fino a 0.3
          linear-gradient(to right,
              rgba($primary-color, 0.9),
              rgba($primary-color, 0.3)),
          // Senza le indicazioni di posizionamento, 
          // l'immagine non è correttamente posizionata
          url('../img/model-1.jpg') center top;
      background-size: cover;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;

      .text-secondary {
        font-size: 2rem;
        margin-bottom: 2rem;
      }
  }

  &__items {
    width: 60vw;
    margin: 2rem auto 0 auto;
    display: grid;
    // Una unità frazionaria per la colonna della griglia, almeno inizialmente
    grid-template-columns: 1fr;
    grid-gap: 2rem;
  }

  &__item {
    position: relative;
    border-bottom: 5px solid $secondary-color;
    overflow: hidden;
    cursor: pointer;

    img {
      width: 100%;
    }

    // Creiamo un effetto speciale per i bottoni, per quando ci si sofferma
    // sopra il singolo progetto.
    &::after {
      content: '';
      // Il contenitore padre ha posizione "relative", quindi dobbiamo esplicitamente 
      // cambiare il riferimento. La posizione dell'effetto sarà assoluta rispetto
      // al contenutore padre.
      position: absolute;

      // In questo modo spingiamo del tutto in basso, e inizialmente risulterà
      // al di sotto del proprio elemento.
      // Vogliamo però che quando ci soffermiamo con il puntatore, l'elemento
      // venga "tirato su" dal basso.
      top: 100%;
      left: 0;
      height: 100%;
      width: 100%;
      background: $secondary-color;
      opacity: 0;
      @include transition-ease;
    }

    // Facciamo in modo che lo pseudo elemento compaia quando
    // ci posizionamo con il puntatore sopra il singolo elemento 
    &:hover {
      &::after {
        top: 0;
        opacity: 0.9;
      }

      // Quando ci soffermiamo sull'elemento, vogliamo che i bottoni si vedano
      .projects__btn {
        opacity: 1;
      }
    }
  }

  &__btns {
    // Anche in questo caso vogliamo posizionare i bottoni in maniera assoluta
    // rispetto al contenitore, che è posizionato in maniera relativa.
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    // // Facciamo una griglia...
    display: grid;
    // // ...a 2 colonne, con "Preview" a sinistra e "Github" a destra
    // // Le colonne hanno le stesse dimensioni (1 unità frazionaria)
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    text-align: center;
  }

  &__btn {
    // I bottoni non sono visibili (a meno che non mi soffermi sull'elemento "progetto")
    opacity: 0;
    color: set-text-color($secondary-color);
    @include transition-ease;

    // Se ci soffermiamo sul bottone, vogliamo che il colore cambi
    &:hover {
      color: set-text-color(set-text-color($secondary-color));
    }
  }

  // Le icone social sono un po' troppo in mezzo ai piedi: le 
  // mostriamo in colonna
  .social-icons {
      display: flex;
      flex-direction: column;
  }

  footer {
      transform: 
          rotate(90deg)
          translate(-3rem, -5rem);
  }
}